* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  margin: 0;
}

.header, .footer {
  background-color: #95eae2;
  padding: 30px;
  margin-bottom: 5px;
  height: 10%;
}

.row {
  display: flex;
  height: 80%;
}

.nav, .article, .aside {
  padding: 30px;
  font-size: 35px;
  margin-right: 5px;
}

.nav, .aside {
  background-color: #f09eff;
  width: 25%;
}

.article {
  background-color: #7eadfd;
  flex: 1; 
}

.aside {
  background-color: #eef13a;
  margin-right: 0;
}

.footer {
  margin-top: 5px;
  margin-bottom: 10px;
}
