header {
    background-color: var(--color-800);
}

body, html {
    height: 100vh;
}

.strong-margin-left {
    margin-left: 10px; /* Ajusta el valor según sea necesario */
}

.link:hover{
    color: var(--color-500);
}

.btn_nuevo {
    background-color: var(--color-600); 
    border-color: var(--color-600);
    font-weight: bold;
    color: aliceblue;
}

.btn_nuevo:hover {
    background-color: var(--color-500);
    border-color: var(--color-700);
}

.close.btn {
    background-color: var(--color-800);
    border-color: var(--color-800); 
    color: white; 
    font-weight: bold;
}

.close.btn:hover {
    background-color: var(--color-100); 
}

.btn_editar {
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--color-500);
    border-color: var(--color-500); 
    background-image: url('../assets/images/pencil.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%; 
}

.btn_editar:hover {
    background-color: var(--color-200); 
}